.slider {
  overflow: hidden;
  position: relative;
}

.slider img {
  width: 100%;
  height: 100%;
}

.control-btn .next {
  position: absolute;
  top: 40%;
  z-index: 10;
  right: 5%;
}

.control-btn .prev {
  position: absolute;
  top: 40%;
  z-index: 10;
  left: 5%;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
/*--------form-----------*/
.form h2 {
  margin-top: 30px;
}
.form {
  position: absolute;
  top: 30%;
  left: 10%;
  background-color: rgba(0, 0, 0, 0.7);
  width: 35%;
  height: 65vh;
  border-radius: 5px;
  color: white;
}
.form input {
  margin-top: 20px;
}
.form .flex_space input:nth-child(odd) {
  margin-right: 20px;
}
.form .submit {
  background: #31b675;
  color: white;
}
/*--------form-----------*/
