.navbar {
  background: #222222;
  position: sticky;
  top: 0;
  z-index: 999;
  height: 10vh;
  line-height: 10vh;
}

nav ul li {
  display: inline-block;
  transition: all 0.2s ease-out;
  margin: 0 30px 0 0;
}

nav ul li a {
  color: #fff;
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 1px;
  transition: all 0.2s ease-out;
  opacity: 0.8;
}
nav ul li a:hover {
  color: #31b675;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}
nav i {
  color: #fff;
}
.login-area {
  color: white;
}

.login-area a {
  font-weight: 100;
  opacity: 0.8;
  font-size: 13px;
  color: #fff;
}
.login-area i {
  margin: 0 5px 0 15px;
  font-size: 13px;
  color: #fff;
}
.login-area button {
  margin-left: 20px;
}

@media screen and (max-width: 960px) {
  nav ul {
    display: block;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  nav ul li {
    display: block;
  }
  nav ul.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    font-size: 2rem;
  }
}
/*--------header------------*/
header {
  padding: 40px 0 20px 0;
  background-color: #fff;
}
header .box {
  margin: 0 0 0 30px;
}
header a {
  font-size: 13px;
  color: grey;
}
header i {
  font-size: 40px;
  color: #31b675;
  margin-right: 15px;
}
header .text {
  margin-top: 10px;
}
header h4 {
  line-height: 10px;
}

/*--------header------------*/
